.alldata{
    /* position: fixed; */
    top: 0;
    /* border: 5px solid; */
    margin: auto;
    width: 50%;
    padding: 10px;

}

.wrapper{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    grid-auto-rows: 300px;
}

.wrapper > p{
    padding: 1em;
}

/* .wrapper2{
    display:grid;
    grid-template-columns: 20% 15% 15%;
    grid-gap: 1em;
    grid-auto-rows: 300px;
} */

/* .wrapper2 > .date,.wrapper2 > .number{
    padding: 1em;
    width: 200px;
    height: 20px;
} */

.date,.number{
    display: inline-block;
    /* border: seashell;
    width: 400px;
    height: 20px;
    color: rgb(43, 86, 226);
    font-size: 20px; */
    padding: 1em;

}

button{
    background-color:cyan;
}

/* button:hover{
    background-color:antiquewhite;
} */

.feedbacPie{
width: 450px;
/* width: 50%;
height: 50%; */
margin: auto;
/* width: 50%; */
/* border: 3px solid green; */
padding: 10px;

}

/* background-color: #B2E0D8; */
.update-button{
    background-color: #EAF1FF;
    /* border:snow; */
    border-color:  #F1F6F9;;
    margin-right: 200px;
    margin-top: -20px;
}
.update-button:hover{
    background-color: #F1F6F9;
}

.sentence{
    text-align: center;
    font-size: 16px;
    /* margin: auto; */
    /* padding: 15px; */
}
