.users-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .users-list {
    list-style: none;
    width: 80%;
    margin: 0;
    padding: 0;
  }
  
  .user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .user-name {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .user-password {
    font-size: 24px;
    margin-bottom: 10px;
  }
  