:root {
  --button-visibility: hidden;
}

.chatWindow {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .react-chatbot-kit-chat-inner-container, .react-chatbot-kit-chat-input-container{
    width: 700px;
    /* background-color:bisque */
  }
  .react-chatbot-kit-chat-inner-container {
    height: 500px;
    /* background-color: rgb(142, 201, 201); */
  }

  .react-chatbot-kit-chat-container{
    position: relative;
    right: 190px;
  }

  .botImage{
    width: 50px;
    height: 50px;
  }

  .react-chatbot-kit-chat-input-form{
    visibility: var(--button-visibility,visible);
  }

  /* .react-chatbot-kit-chat-bot-message{
    margin-left: auto;
  } */

  /* .listOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .listOptions label {
    width: 30%;
    text-align: left;
  } */

